---
layout: default
title:  HOME
navigation_weight: 1
---
<div class="home">


<div class="site-header-container {% if site.cover %}has-cover{% endif %}" {% if site.cover %}style="background-image: url({{ site.cover | prepend: site.baseurl }});"{% endif %}>
  <div class="scrim {% if site.cover %}has-cover{% endif %}">
    <header class="site-header">
      <h1 class="title">{{ site.title }}</h1>
      {% if site.subtitle %}<p class="subtitle">{{ site.subtitle }}</p>{% endif %}
    </header>
  </div>
</div>

<div class="wrapper">
<p>I am a researcher <a href="https://orcid.org/0000-0002-6018-0766" target="_blank">ORCID</a> 
working at Center for Quantitative Genetics and Genomics <a href="https://qgg.au.dk/en/" target="_blank">QGG</a>,  
Aarhus University, Denmark.</p>

<p>My chief research visions center on:</p>
<ul>
<li>Statistical methods of genetic evaluation and genomic selection</li>
<li>Computational biology in quantitative genetics and genomics</li>
<li>Software development in animal breeding</li>
</ul>


<p>I received a BS in animal science in 2006, from China Agricultural University, and a PhD in quantitative genetics in 2012,  
from Aarhus University. I was a postdoctoral fellow  
at Aarhus University and Nordic Cattle Genetic Evaluation <a href="http://www.nordicebv.info" target="_blank">NAV</a>, 2013–2017. 
For more information,
you can find my CV <a href="{{ site.url }}/downloads/hongdinggaoCV2019.pdf" target="_blank">here</a></p>



<p>In general, I love trying new(/useless) ideas on my computer.</p>
<p>At the moment, I live in a small village in Denmark. The best way to reach me is 
<a href = "mailto: hongdinggao@gmail.com">via email</a></p>



</div>
</div>
