---
layout: default
title:  HOME
navigation_weight: 1
tags:
  - Genomic selection
  - Quantitative genetics
  - ssGBLUP
  - Big data
  - Deep learning
  - Bayesian regression
---
<div class="home">


<div class="site-header-container {% if site.cover %}has-cover{% endif %}" {% if site.cover %}style="background-image: url({{ site.cover | prepend: site.baseurl }});"{% endif %}>
  <div class="scrim {% if site.cover %}has-cover{% endif %}">
    <header class="site-header">
      <h1 class="title">{{ site.title }}</h1>
      {% if site.subtitle %}<p class="subtitle">{{ site.subtitle }}</p>{% endif %}
    </header>
  </div>
</div>

<div class="wrapper">
<p>I am a senior scientist <a href="https://orcid.org/0000-0002-6018-0766" target="_blank">ORCID</a> 
working at Natural Resources Institute Finland <a href="https://www.luke.fi/en/experts/hongding-gao" target="_blank">(LUKE)</a>.</p>

<p>My chief research visions center on:</p>
<ul>
<li>Statistical models in quantitative genetics and genomics</li>
<li>Computational genetics and software development for genetic/genomic prediction</li>
<li>Animal and plant breeding</li>
</ul>


<p>I received a BS in animal science in 2006, from China Agricultural University, and a PhD in quantitative genetics in 2012,  
from Aarhus University. I did my postdoc 
at Aarhus University and Nordic Cattle Genetic Evaluation <a href="http://www.nordicebv.info" target="_blank">NAV</a>, 2013–2017. 
After my postdoc, I had continued working as a researcher/assistant professor at <a href="https://qgg.au.dk/en" target="_blank">QGG</a>, Aarhus University 
until late 2021. For more information,
you can find my CV <a href="{{ site.url }}/downloads/hongdinggaoCV2023.pdf" target="_blank">here</a>.
The best way to reach me is <a href = "mailto: hongdinggao@gmail.com">via email</a>.</p>


<p>I had lived in Denmark for nearly 10 years. Now I am living at Helsinki, Finland.

<p>Cover image was taken in Sydney with good memories (just before the COVID-19 pandemic).</p>



</div>
</div>
