---
layout: default
title:  HOME
navigation_weight: 1
---
<div class="home">


<div class="site-header-container {% if site.cover %}has-cover{% endif %}" {% if site.cover %}style="background-image: url({{ site.cover | prepend: site.baseurl }});"{% endif %}>
  <div class="scrim {% if site.cover %}has-cover{% endif %}">
    <header class="site-header">
      <h1 class="title">{{ site.title }}</h1>
      {% if site.subtitle %}<p class="subtitle">{{ site.subtitle }}</p>{% endif %}
    </header>
  </div>
</div>

<div class="wrapper">
<p>I am a researcher working at Center for Quantitative Genetics and Genomics <a href="https://qgg.au.dk/en/">QGG</a>,  
Aarhus University, Denmark. My chief research visions center on
statistical methods of genetic evaluation and genomic selection, 
computational biology in quantitative genetics and genomics, and 
software development in animal breeding.</p>

<p>Previously, I was an industrial postdoc from</p>
<ul>
<li>Center for Quantitative Genetics and Genomics <a href="https://qgg.au.dk/en/">QGG</a></li>
<li>Nordic Cattle Genetic Evaluation <a href="http://www.nordicebv.info">NAV</a></li>
</ul>
<p>I have a PhD degree in quantitative genetics, for more information, 
you can find my CV <a href="{{ site.url }}/downloads/hongdinggaoCV2019.pdf">here</a></p>
<p>In general, I love trying new(/useless) ideas on my computer.</p>
<p>At the moment, I live in a small town in Denmark.</p>



</div>
</div>
